<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Apartment Details</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"> Booking </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservations">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
    </ul>
    
    <ul class="navbar-nav">
    <li class="nav-item my-2 my-lg-0">
        <a class="nav-link" href="/user" th:text = "${user.username}"></a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
     </ul>
</nav>

	<img th:src="${apartment.picture}" style="height:400px; width:500px; float:left; margin:20px;" class="rounded float-left"/>
	
	<div class="container" style="margin:30px; float:right; width:900px;">
	<h3 th:text = "${apartment.name}">Ime</h3><br>
		<table  class="table table-bordered"  style="width:800px;">
			<tr>
				<td  style="width:400px;">Location</td>
				<td  style="width:400px;"><a th:text = "${apartment.address}"></a>, <a th:text = "${apartment.city}"></a>, <a th:text = "${apartment.country}"></a></td>
			</tr>
			<tr>
				<td>Max. number of guests</td>
				<td th:text = "${apartment.capacity}"></td>
			</tr>
			<tr>
				<td>Size</td>
				<td><a th:text = "${apartment.size}"></a><a> m2</a></td>
			</tr>
			<tr>
				<td>Bedroom number</td>
				<td th:text = "${apartment.bedroomNumber}"></td>
			</tr>
			<tr>
				<td>Description</td>
				<td th:text = "${apartment.description}"></td>
			</tr>
			<tr>
				<td>Features</td>
				<td>
					<div th:if = "${apartment.petsAllowed}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> pets allowed</a><br>
					</div>
					<div th:if = "${apartment.smokingAllowed}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> smoking allowed</a><br>
					</div>
					<div th:if = "${apartment.disabledAccessible}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> disabled accessible</a><br>
					</div>
					<div th:if = "${apartment.balcony}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> balcony</a><br>
					</div>
					<div th:if = "${apartment.kitchen}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> kitchen</a><br>
					</div>
					<div th:if = "${apartment.parking}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> parking</a><br>
					</div>
					<div th:if = "${apartment.seaView}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> sea view</a><br>
					</div>
					<div th:if = "${apartment.pool}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> pool</a><br>
					</div>
					<div th:if = "${apartment.jacuzzi}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> hot tub</a><br>
					</div>
					<div th:if = "${apartment.iron}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> iron</a><br>
					</div>
					<div th:if = "${apartment.washingMachine}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> washing machine</a><br>
					</div>
					<div th:if = "${apartment.ac}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> A/C</a><br>
					</div>
					<div th:if = "${apartment.heating}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> heating</a><br>
					</div>
					<div th:if = "${apartment.wifi}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
						<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
						</svg>
						<a> WiFi</a><br>
					</div>
				</td>
			</tr>
			<span th:unless = "${user.role}">
					<tr>
						<td>Check-in date</td>
						<td th:text = "${checkInDate}"></td>
					</tr>
					<tr>
						<td>Check-out date</td>
						<td th:text = "${checkOutDate}"></td>
					</tr>
					<tr>
						<td>Price per night</td>
						<td th:text = "${apartment.pricePerNight}"><a> €</a></td>
					</tr>
					<tr>
						<td><h3>Total price</h3></td>
						<td><a>for </a><a th:text = "${numberOfNights}"></a> nights = <a th:text = "${totalPrice}"></a><a> €</a></td>
					</tr>
			</span>
				</table>
			<span th:unless = "${user.role}">
				<form class="form-inline my-2 my-lg-0" th:object="${search}" th:action="@{/reservations}"  method="post">
						<input type="hidden" id="checkInDate" name="checkInDate" th:attr="value = ${checkInDate}"/>
						<input type="hidden" id="checkOutDate" name="checkOutDate" th:attr="value = ${checkOutDate}"/>
						<input type="hidden" id="apartmentId" name="apartmentId" th:attr="value = ${apartment.id}"/>
						<input type="hidden" id="totalPrice" name="totalPrice" th:attr="value = ${totalPrice}"/>
						<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Book now</button>
				</form>
			</span>
	</div>
	
	<div class="mapouter" style="margin:20px; float:left;"><div  th:inline="text" class="gmap_canvas"><iframe width="500" height="200" id="gmap_canvas" th:src="@{${'https://maps.google.com/maps?q=' + apartment.address + ','+ apartment.city + ',' + apartment.country + '&t=&z=13&ie=UTF8&iwloc=&output=embed'}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		<a href="https://putlocker-is.org">putlocker</a><br><style>.mapouter{position:relative;text-align:right;height:200px;width:500px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
		<style>.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:500px;}</style></div>
	</div>
		
	<div class="container" style="margin-right:30px; float:left; width:900px; float:right;">
	<span th:if = "${isReviews}">
		<h3>Reviews</h3><br>
			<div th:each = "review: ${reviews}" style = "border:solid; border-width:1px; border-radius:25px; padding:15px;">
			<table style="width:700px;">
				<tr>
					<td><small><a>Comfort:</a><a th:text = "${review.comfortRating}"></a></small></td>
					<td><small><a>Location:</a><a th:text = "${review.locationRating}"> </a></small></td>
					<td><small><a>Host:</a><a th:text = "${review.hostRating}"></a> </small></td>
					<td><small><a>Value for money:</a><a th:text = "${review.valueForMoneyRating}"></a></small></td>
				</tr>
			</table><br>
			<a th:text = "${review.review}"></a>
			</div>
	</span>
	<span th:unless = "${isReviews}">
		<h3>There are no reviews on this apartment yet.</h3>
	</span>
	</div>

</body>
</html>