<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"> Booking </a>
    
    <ul class="navbar-nav">
     <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
      </li>
     </ul>
</nav>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our site. Book now!</div>
            </div>

            <h1>Registration</h1><br>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName"> First Name </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName"> Last Name </label> <input
                        id="lastName" class="form-control" th:field="*{lastName}"
                        required autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="username"> Username </label> <input
                        id="username" class="form-control" th:field="*{username}" required
                        autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="email"> Email </label> <input
                        id="email" class="form-control" th:field="*{email}" required
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                	<label class="control-label" for="gender"> Male </label>
                	<input type="radio" class="form-control" name="gender"
                		value="false" checked="checked" th:field="*{gender}" required autofocus="autofocus"/>
                	
                	<label class="control-label" for="gender"> Female </label>
                	<input type="radio" class="form-control" name="gender"
                		value="true" th:field="*{gender}" required autofocus="autofocus"/>
                </div>
                
                <div class="form-group">
                	<label class="control-label" for="role"> User </label>
                	<input type="radio" class="form-control" name="imgsel"
                		value="false" checked="checked" th:field="*{role}" required autofocus="autofocus"/>
                	
                	<label class="control-label" for="role"> Owner </label>
                	<input type="radio" class="form-control" name="imgsel"
                		value="true" th:field="*{role}" required autofocus="autofocus"/>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="phone"> Phone Number </label> <input
                        id="phone" class="form-control" th:field="*{phone}" required
                        autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="address"> Address </label> <input
                        id="address" class="form-control" th:field="*{address}" required
                        autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="city"> City </label> <input
                        id="city" class="form-control" th:field="*{city}" required
                        autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="country"> Country </label> <input
                        id="country" class="form-control" th:field="*{country}" required
                        autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="safeQuestion"> Safe Question </label> <input
                        id="safeQuestion" class="form-control" th:field="*{safeQuestion}" required
                        autofocus="autofocus" />
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="safeAnswer"> Safe Answer </label> <input
                        id="safeAnswer" class="form-control" th:field="*{safeAnswer}" required
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>